@media (min-width: 1440px) {
  .profit-calculator .profit-calculator__wrapper {
    max-width: 602px;
  }
}

.profit-calculator .irs {
  position: relative;
  display: block;
  height: 20px;
  user-select: none;
}

.profit-calculator .irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

.profit-calculator .irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.profit-calculator .irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}

.profit-calculator .irs-handle {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}

.profit-calculator .irs-handle.type_last {
  z-index: 2;
}

.profit-calculator .irs-grid {
  display: none;
}

.irs-min,
.irs-max,
.irs-single {
  position: absolute;
  top: -26px;
}

.irs-min:after,
.irs-max:after,
.irs-single:after {
  content: '%';
}

.irs-min {
  left: 0;
}

.irs-max {
  right: 0;
}

.irs-single {
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  background-color: #CCCCCC;
  pointer-events: none;
}

.profit-calculator .irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-width: 0 !important;
  border-style: solid !important;
  border-color: transparent !important;
}

.profit-calculator .irs-line {
  top: 7px;
  height: 8px;
  border-radius: 4px;
  background-color: #CCCCCC;
}

.profit-calculator .irs-bar {
  top: 7px;
  height: 8px;
  background-color: #5b61ff;
}

.profit-calculator .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.profit-calculator .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #dee5eb;
}

.profit-calculator .irs-handle {
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 27px;
  background-color: #5b61ff;
  cursor: pointer;
}

.profit-calculator__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.profit-calculator__fields {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.profit-calculator__field {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 100%;
}

.profit-calculator__field-label {
  margin-bottom: 8px;
  font-family: "Rawline Bold", sans-serif;
  font-size: 14px;
}

.profit-calculator__field-input-wrapper {
  position: relative;
  overflow: hidden;
}

.profit-calculator__field-input {
  display: flex;
  padding: 0 20px;
  width: 100%;
  height: 36px;
  font-size: 14px;
  line-height: 1;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 24px;
  transition: border-color 0.2s ease-in-out;
  outline: none;
}

.profit-calculator__field--quantity .profit-calculator__field-input {
  padding-right: 40px;
}

.profit-calculator__field--power-price .profit-calculator__field-input {
  padding-right: 70px;
}

.profit-calculator__field-unit {
  position: absolute;
  right: 16px;
  top: 50%;
  border-radius: 24px;
  font-size: 14px;
  transform: translateY(-50%);
}

.profit-calculator__field-input-btn-icon {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 24px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.profit-calculator__field-input-btn-icon:hover {
  color: #5B61FF;
}

.profit-calculator__field-slider-wrapper {
  position: relative;
  padding-top: 32px;
}

.profit-calculator__main-profit {
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media (min-width: 500px) {
  .profit-calculator__fields {
    gap: 16px;
  }

  .profit-calculator__field {
    flex: 0 0 calc((100% - 16px) / 2);
    max-width: calc((100% - 16px) / 2);
  }
}

@media (min-width: 768px) {
  .profit-calculator.profit-calculator--ltcdoge .profit-calculator__field--exchange-rate-ltc-used,
  .profit-calculator.profit-calculator--ltcdoge .profit-calculator__field--exchange-rate-doge-used,
  .profit-calculator.profit-calculator--ltcdoge .profit-calculator__field--exchange-rate-usdt-used {
    flex: 0 0 calc((100% - 32px) / 3);
    max-width: calc((100% - 32px) / 3);
  }
  .profit-calculator__field-input {
    height: 44px;
  }
}

@media (min-width: 1200px) {
  .profit-calculator__field-label {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .profit-calculator__field-input {
    height: 52px;
  }
}

.preloader-text {
  display: inline-block;
  background: rgba(200, 200, 200, 0.25);
  border-radius: 6px;
  color: transparent;
  min-height: 1em;
  animation: pulse 1.5s infinite ease-in-out;
}

.profit-calculator__container:not(.loaded) .preloader-text {
  min-width: 60px;
}

@keyframes pulse {
  0% {
    background-color: rgba(180, 180, 180, 0.2);
  }

  50% {
    background-color: rgba(200, 200, 200, 0.5);
  }

  100% {
    background-color: rgba(180, 180, 180, 0.2);
  }
}

.profit-calculator__container.loaded .preloader-text {
  background: none;
  color: inherit !important;
  animation: fadeInText .8s ease forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.product-page .profit-calculator__metrics {
  grid-template-columns: 1fr !important;
}